{% extends "base.html" %}
{% block extra_style %}
  {{block.super}}
  <link href="//app.carthage.edu/themes/shared/css/icons.css"
    type="text/css" rel="stylesheet">
  <link href="//app.carthage.edu/themes/shared/css/forms.css"
    rel="stylesheet" type="text/css">
  <link href="//app.carthage.edu/themes/shared/css/tables.css"
    rel="stylesheet" type="text/css">
{% endblock %}
{% block left_nav %}
<ul>
  <li>
    <a href="/bridge/" class="lw_group_link fancy-link">Bridge<span class="fancy-link__icon" aria-hidden="true">›</span></a>
    <ul>
      <li><a href="/bridge/submit/">Submit to The Bridge</a></li>
      <li><a href="/bridge/bridge-faqs/">Bridge FAQs</a></li>
      <li><a href="https://app.carthage.edu/djtito/newsletter/archives/" aria-current="page">Newsletter Archive</a></li>
    </ul>
  </li>
</ul>
{% endblock %}
{% block breadcrumb %}
  <li><a href="/bridge/">Bridge</a></li>
  <li><a href="/bridge/newsletter-archive/" aria-current="page">Newsletter Archive</a></li>
{% endblock %}
