{% extends "base.html" %}
{% load humanize %}
{% block title %}
{{year}} &mdash;
Bridge &mbdash;
Newsletter &mdash;
Archives &mdash;
Carthage College
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
         {{year}}
    </h1>
{% endblock %}
{% block content %}
{% if philes %}
  {% for month,files in philes.items %}
    <h2>{{month}}</h2>
    <ul>
    {% for f in files %}
    <li><a href="{{f.path}}">{{f.day}} the {{f.dayo|ordinal}}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
{% else %}
  <h3>No archives available for {{year}}</h3>
{% endif %}
{% endblock %}
