{% extends "base.html" %}
{% load humanize %}
{% block title %}
{{year}} &mdash;
Bridge &mdash;
Newsletter &mdash;
Archives &mdash;
Carthage College
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
         {{year}}
    </h1>
{% endblock %}
{% block content %}
<div class="large-5 medium-5 small-12">
{% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </div>
    {% endfor %}
{% else %}
   {% for month,files in philes.items %}
        <h2>{{month}}</h2>
        <ul>
        {% for f in files %}
        <li><a href="{{f.path}}">{{f.day}}, {{f.date|date:"N j, Y"}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
</div>
<div class="large-1 medium-1">&nbsp;</div>
<div class="large-5 medium-5 small-12">
<h2>Year</h2>
<ul>
{% for p in pastnav reversed %}
<li>
  <a href="{% url 'newsletter_archives' p %}">{{p}}</a>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
