{% extends "base.html" %}
{% load humanize %}
{% block title %}
{{year}} &mdash;
Bridge &mbdash;
Newsletter &mdash;
Archives &mdash;
Carthage College
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
         {{year}}
    </h1>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }} large-12 medium-12 small-12"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}
{% else %}
   {% for month,files in philes.items %}
        <h2>{{month}}</h2>
        <ul>
        {% for f in files %}
        <li><a href="{{f.path}}">{{f.day}}, {{f.date|date:"N j, Y"}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
{% endblock %}
