{% load livewhale_api %}
{% if messages %}
  {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %} style="margin-top:12px;">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<div id="bridge-newsletter">
{% for h in data.news %}
  {% if h.1 %}
    <h2>{{h.0}}</h2>
    <table border="0" cellpadding="0" cellspacing="0">
    {% for n in h.1 %}
      <tr>
      {% if n.news_categories == "Top Stories" and n.thumbnail %}
      <td align="left" valign="top" width="110">
        {% if data.static %}
        <a href="{{n.url}}">
        {% else %}
        <a href="{{n.url}}?utm_source=djtito&utm_medium=email&utm_term=bridge%2Bnewsletter&utm_content={{n.title|truncatechars:100|urlencode}}&utm_campaign=bridge_newsletter_{{data.now|date:'Y-m-d'}}">
        {% endif %}
        <img src="{{n.thumbnail}}" style="width:100px; margin-bottom:9px;">
        </a>
      </td>
      {% else %}
      <td align="left" valign="top">
        <div style="background: url(https://app.carthage.edu/themes/korra/assets/img/red-bullet.png) no-repeat left top; margin-top:7px;padding-right:9px;">&nbsp;</div>
      </td>
      {% endif %}
      <td align="left" valign="top">
        {% if data.static %}
        <a href="{{n.url}}" style="text-decoration: none !important; color: #003c4b; line-height: 1.125; transition: .3s color ease-in-out;">
        {% else %}
        <a href="{{n.url}}?utm_source=djtito&utm_medium=email&utm_term=bridge%2Bnewsletter&utm_content={{n.title|truncatechars:100|urlencode}}&utm_campaign=bridge_newsletter_{{data.now|date:'Y-m-d'}}" style="text-decoration: none !important; color: #003c4b; line-height: 1.125; transition: .3s color ease-in-out;">
        {% endif %}
        {{n.title|safe}}
        </a>
        {% if balloons and n.news_categories == "Top Stories" %}
        <br>
        <div style="float:left;"><img src="{{media_url}}/img/balloon.gif" style="width:18px;height:26px;margin-top:2px;margin-right:8px;"></div>
        <div style="float:left;"><input name="balloons" type="text" size="4" maxlength="1" =required style="width: 28px; height:28px;"></div>
        {% endif %}
      </td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endfor %}
{% if data.bridge_events %}
<h2>Upcoming Carthage Events</h2>
<table border="0" cellpadding="0" cellspacing="0">
{% for e in data.bridge_events %}
  <tr>
    <td align="left" valign="top">
      <div style="background: url(https://app.carthage.edu/themes/korra/assets/img/red-bullet.png) no-repeat left top; margin-top:7px;padding-right:9px;">&nbsp;</div>
    </td>
    <td align="left" valign="top">
      {% if data.static %}
        <a href="{{e.url}}" style="text-decoration: none !important; color: #003c4b; line-height: 1.125; transition: .3s color ease-in-out;">{{e.title|safe}}</a>
      {% else %}
        <a href="{{e.url}}?utm_source=djtito&utm_medium=email&utm_term=bridge%2Bnewsletter&utm_content={{e.title|truncatechars:100|urlencode}}&utm_campaign=bridge_newsletter_{{data.now|date:'Y-m-d'}}" style="text-decoration: none !important; color: #003c4b; line-height: 1.125; transition: .3s color ease-in-out;">{{e.title|safe}}</a>
      {% endif %}
      <strong>{{e.date_tito|date:"D, N j, Y"}}</strong>
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
{% if data.athletics_events %}
{% get_lw_content as events blurbs 3116 %}
{{events.body|safe}}
<table border="0" cellpadding="0" cellspacing="0">
{% for e in data.athletics_events %}
  <tr>
    <td align="left" valign="top">
      <div style="background: url(https://app.carthage.edu/themes/korra/assets/img/red-bullet.png) no-repeat left top; margin-top:7px;padding-right:9px;">&nbsp;</div>
    </td>
    <td align="left" valign="top">
      {% if data.static %}
        <a href="{{e.url}}" style="text-decoration: none !important; color: #003c4b; line-height: 1.125; transition: .3s color ease-in-out;">{{e.title|safe}}</a>
      {% else %}
        <a href="{{e.url}}&utm_source=djtito&utm_medium=email&utm_term=bridge%2Bnewsletter&utm_content={{e.title|truncatechars:100|urlencode}}&utm_campaign=bridge_newsletter_{{data.now|date:'Y-m-d'}}" style="text-decoration: none !important; color: #003c4b; line-height: 1.125; transition: .3s color ease-in-out;">{{e.title|safe}}</a>
      {% endif %}
      <strong>{{e.date_tito|date:"D, N j, Y"}}</strong>
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
<h2>
  <a style="color:#800"
    href="https://www.carthage.edu/calendar/#view/month">
    See the Carthage Calendar of Events
  </a>
</h2>
<h4>
  <a style="color:#800"
    href="https://harbor.carthage.edu/events/">
    View student org events on The Harbor
  </a>
</h4>
<h4>
  <a style="color:#800"
    href="https://www.carthage.edu/bridge/submit/">
    Submit your news to The Bridge
  </a>
</h4>
<h4>
  <a style="color:#800"
    href="https://www.carthage.edu/bridge/bridge-faqs/">
    Read Bridge FAQs
  </a>
</h4>
{% if not data.static %}
<p><a href="{{data.permalink}}?utm_source=djtito&utm_medium=email&utm_term=bridge%2Bnewsletter&utm_content=Bridge%2BNewsletter%2B{{data.now|date:"F j, Y"}}&utm_campaign=bridge_newsletter_{{data.now|date:'Y-m-d'}}">View Newsletter on the Carthage Website</a></p>
{% endif %}
</div>
