{% load livewhale_api %}
{% get_lw_content as stay_safe blurbs 2978 %}
{% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div id="bridge-newsletter">
{% for h in data.news %}
  {% if h.1 %}
    <h3>{{h.0}}</h3>
    <table border="0" cellpadding="0" cellspacing="0">
    {% for n in h.1 %}
      <tr>
      {% if n.cat.0 == 1 and n.image %}
      <td align="left" valign="top" width="110">
        {% if data.static %}
        <a href="{{n.get_absolute_url}}">
        {% else %}
        <a href="{{n.get_absolute_url}}?utm_source=djtito&utm_medium=email&utm_term=bridge%2Bnewsletter&utm_content={{n.headline|truncatechars:100|urlencode}}&utm_campaign=bridge_newsletter_{{data.now|date:'Y-m-d'}}">
        {% endif %}
        <img src="https://www.carthage.edu/live/image/gid/{{n.image.gid}}/1/{{n.phile}}" style="width:100px; margin-bottom:9px;">
        </a>
      </td>
      {% else %}
      <td align="left" valign="top">
        <div style="background: url(https://app.carthage.edu/themes/korra/assets/img/red-bullet.png) no-repeat left top; margin-top:7px;padding-right:9px;">&nbsp;</div>
      </td>
      {% endif %}
      <td align="left" valign="top">
        {% if data.static %}
        <a href="{{n.get_absolute_url}}" style="text-decoration: none !important; color: #003c4b; line-height: 1.125; transition: .3s color ease-in-out;">
        {% else %}
        <a href="{{n.get_absolute_url}}?utm_source=djtito&utm_medium=email&utm_term=bridge%2Bnewsletter&utm_content={{n.headline|truncatechars:100|urlencode}}&utm_campaign=bridge_newsletter_{{data.now|date:'Y-m-d'}}" style="text-decoration: none !important; color: #003c4b; line-height: 1.125; transition: .3s color ease-in-out;">
        {% endif %}
          {{n.headline|safe}}
        </a>
        {% if n.new %}
          {% if data.static %}
          <i class="fa fa-leaf new-leaf" aria-hidden="true"></i>
          {% else %}
          <img src="https://www.carthage.edu/themes/shared/img/ico/leaf-16.png" style="margin-left:5px;">
          {% endif %}
        {% endif %}
      </td>
      </tr>
      {% if n.cat.0 == 1 and n.image %}
      <tr>
      <td>
        <div id="lw_success">{{stay_safe.body|safe}}</div>
      </td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% endif %}
{% endfor %}
{% if data.events %}
{% get_lw_content as events blurbs 3116 %}
{{events.body|safe}}
<table border="0" cellpadding="0" cellspacing="0">
{% for e in data.events %}
  <tr>
    <td align="left" valign="top">
      <div style="background: url(https://app.carthage.edu/themes/korra/assets/img/red-bullet.png) no-repeat left top; margin-top:7px;padding-right:9px;">&nbsp;</div>
    </td>
    <td align="left" valign="top">
      {% if data.static %}
        <a href="{{e.get_absolute_url}}" style="text-decoration: none !important; color: #003c4b; line-height: 1.125; transition: .3s color ease-in-out;">{{e.title|safe}}</a>
      {% else %}
        <a href="{{e.get_absolute_url}}?utm_source=djtito&utm_medium=email&utm_term=bridge%2Bnewsletter&utm_content={{e.title|truncatechars:100|urlencode}}&utm_campaign=bridge_newsletter_{{data.now|date:'Y-m-d'}}" style="text-decoration: none !important; color: #003c4b; line-height: 1.125; transition: .3s color ease-in-out;">{{e.title|safe}}</a>
      {% endif %}
      <strong>[{{e.date_dt|date:"D, N j, Y, f a"}}]</strong>
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
<h3>
  <a style="color:#800"
    href="https://www.carthage.edu/calendar/#view/month">
    See the Carthage Calendar of Events
  </a>
</h3>
<h4>
  <a style="color:#800"
    href="https://www.carthage.edu/bridge/submit/">
    Submit your news to The Bridge
  </a>
</h4>
{% if not data.static %}
<p><a href="{{data.permalink}}?utm_source=djtito&utm_medium=email&utm_term=bridge%2Bnewsletter&utm_content=Bridge%2BNewsletter%2B{{data.now|date:"F j, Y"}}&utm_campaign=bridge_newsletter_{{data.now|date:'Y-m-d'}}">View Newsletter on the Carthage Website</a></p>
{% endif %}
</div>
