{% extends "newsletter/email.html" %}
{% load ifusergroup %}
{% load livewhale_api %}
{% block head %}
  {% ifusergroup Communications %}
  <link href="https://www.carthage.edu/themes/shared/css/forms.css" rel="stylesheet" type="text/css" />
  <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css" rel="stylesheet">
  <link href="https://www.carthage.edu/themes/katara/assets/css/bridge.css" type="text/css" rel="stylesheet">
  <style>
    .body_bridge #page-content-wrap { margin-top: 0; }
    fieldset {
    border: 2px solid #ddf3f3;
    border-radius: 3px 3px 3px 3px;
    padding: 6px;
    background-color: #fcffff;
    margin-bottom: 10px;
    margin-top: 10px;
    }
    label em, label span {color:#666;}
    .blockLabels label {
      font-family: "Scala Sans", sans-serif;
      color:#565656;
      padding-left:3px;
      margin-bottom:0.2em;
    }
    ol li {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    }
    ol li {list-style:none !important;padding-left:5px !important;margin-left:15px;}
    .btnHolder {text-align:left;}
    .ctrlHolder, .btnHolder {clear:left; float:left; margin:3px 0; width:100%;}
    fieldset.btnHolder {float:none; border:0 none #FFF;}
    input.button, button.button,  span.button {
    -moz-user-select: none;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
    background-color: #1ABC9C;
    border-color: #357EBD;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0;
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width:auto;
    height:auto;
    }
    input, textarea, select {
    height: 39px;
    padding: 0 6px;
    margin:1px;
    width:325px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
    -webkit-appearance: none;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    input.button:hover, button.button:hover, span.button:hover {
      color: #ffffff;
      background-color: #48c9b0;
      border-color: #48c9b0;
      background: #16a085;
      width:auto;
      height:auto;
    }
    input[type=submit], input[type=button] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: #d0202e;
      background-image: -webkit-gradient(linear,left top,right top,from(#7a232f),color-stop(33.333%,#7a232f),color-stop(66.667%,#d0202e),to(#d0202e));
      background-image: linear-gradient(
   90deg,#7a232f 0,#7a232f 33.333%,#d0202e 66.667%,#d0202e);
      background-position: 100% 0;
      background-size: 301% 100%;
      border: none;
      color: #fff!important;
      cursor: pointer;
      display: inline-block!important;
      font-family: inherit!important;
      font-size: .9375rem!important;
      font-weight: 700!important;
      letter-spacing: .11em!important;
      line-height: 1.2!important;
      overflow: hidden;
      padding: 1.25rem 1.5rem 0.875rem;
      position: relative;
      text-align: center;
      text-decoration: none!important;
      text-transform: uppercase;
      -webkit-transition: background-color .3s ease-in-out,background-position .3s ease-in-out,box-shadow .3s ease-in-out!important;
      transition: background-color .3s ease-in-out,background-position .3s ease-in-out,box-shadow .3s ease-in-out!important;
      vertical-align: top;
    }
    input.title {font-size:1.5em;}
    textarea:hover,  select:hover,  input[type=text]:hover,  input[type=number]:hover,  input[type=password]:hover,  input[type=date]:hover,  input[type=email]:hover { border:2px solid #d7d0a0;outline:none;color:#3e3e3e; }
    textarea:focus,  select:focus,  input[type=text]:focus,  input[type=number]:focus,  input[type=password]:focus,  input[type=date]:focus,  input[type=email]:focus { border:2px solid #6caf2a;outline:none;color:#3e3e3e; }
    /* required, errors, etc */
    h3.required {background: url(//app.carthage.edu/static/forms/img/icons/red_asterisk.png) no-repeat right top;display:inline-block;padding-right:20px;}
    input.required,  textarea.required {background: #fff url(//app.carthage.edu/static/forms/img/icons/red_asterisk.png) no-repeat 98% center;}
    input.required,  textarea.required {background: #fff url(//app.carthage.edu/static/forms/img/icons/red_asterisk.png) no-repeat 98% center;}
    select.required { background: #fff url(//app.carthage.edu/static/forms/img/icons/red_asterisk.png) no-repeat 80% center;}
    input[type='radio'].required { background-color: #f0dddd;}
    input.error,  textarea.error,  select.error, .uneditable-input.error {border: 2px solid #B94A48; background: #fff url(//app.carthage.edu/static/forms/img/icons/requiredx.png) no-repeat right center;}

    input[type=checkbox],  input[type=radio] {
    display: inline-block;
    font-size: 15px;
    line-height: 1em;
    margin: 0 0.25em 0 0;
    padding: 0;
    width: 1.25em;
    height: 1.25em;
    -webkit-border-radius: 0.25em;
    vertical-align: text-top;
    background:none;
    }
    input[type=file],  input[type=file]:focus,  input[type=file]:hover {
    border:none;
    height: 30px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset;
    }
  </style>
  {% endifusergroup %}
{% endblock %}
{% block footer %}
  {% ifusergroup Communications %}
  {% get_lw_content as extra_content blurbs 2978 %}
  {{extra_content.body|default_if_none:''|safe}}
  <p>
  <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=2978"
    target="_blank">
    <i class="fas fa-pencil-alt green" aria-hidden="true"
      title="Manage the #WeAreCarthageCollege blurb in LiveWhale"></i></a>
  <a href="#" data-cid="2978" data-target="lw_success" class="clear-cache">
    <i class="fas fa-sync green" aria-hidden="true"
      title="Clear the cache for the #WeAreCarthageCollege blurb"></i></a>
  </p>
  <h2>Email Manager{% if debug %}&mdash;DEBUG{% endif %}</h2>
  <div id="page-content-wrap">
    {% include "includes/required_text.html" %}
    {% include "includes/errors_text.html" %}
      {% csrf_token %}
      <fieldset class="blockLabels">
        <ol>
        {% for field in form.visible_fields %}
          {% include "form_field.inc.html" %}
        {% endfor %}
        </ol>
      </fieldset>
      {% include "form_submit.inc.html" %}
  </div>
  {% endifusergroup %}
{% endblock %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js"></script>
<script type="text/javascript">
  /* clear django cache object by cache key and refresh content */
  $('.clear-cache').on('click', function(e){
    e.preventDefault();
    var $dis = $(this);
    var $cid = $dis.attr('data-cid');
    var $target = '#' + $dis.attr('data-target');
    var $html = $dis.html();
    $dis.html('<i class="fas fa-sync fa-spin"></i>');
    $.ajax({
      type: 'POST',
      url: "{% url 'clear_cache' 'blurbs' %}",
      data: {'cid':$cid},
      success: function(data) {
        alert("Cache Cleared.");
        $($target).html(data);
        $dis.html('<i class="fas fa-sync"></i>');
      },
      error: function(data) {
        console.log("Error", data);
      }
    });
    return false;
  });
</script>
{% endblock %}
